@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card{
    flex: 0 0 200px;
    margin: 10px;
    box-shadow: 2px 2px 6px 0px  rgb(0, 0, 0);
}

.card img{
    max-width: 100%;
}

.card .text{
    padding: 0 20px 20px;
    font-family: 'Roboto', sans-serif;
}

.card .text > button {
    font-family: 'Roboto', sans-serif;
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }